body{
    background-color: white;
    color: black;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
    border-top: 7.5vh solid slategray;
    border-bottom: 7.5vh solid slategray;
    min-height: 85vh;
    font-size: 1.2em;
}
h1{
    margin: 1.3%;
}
h2{
    margin: 1.3%
}
p{
    margin: 1.3%;
}
ol{
    margin: 1.3%;
    line-height: 1.5em;
}
#title{
    margin-left: 5vh;
}
#everythingelselol{
    margin-left: 5vh;
}